# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis, ascending=True)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - column 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [1]:
import pandas as pd

df = pd.read_csv('data/movie.csv', index_col='movie_title')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
# sort_index() -> index name으로 정렬 (default)
df.sort_index()#axis=0)
df.sort_index(ascending=False) #  내림차순 정렬 (default: 오름차순)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [7]:
# 컬럼명으로 정렬
df.sort_index(axis=1)
df.sort_index(axis=1, ascending=False)

,title_year,plot_keywords,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_imdb_link,movie_facebook_likes,language,imdb_score,gross,...,color,cast_total_facebook_likes,budget,aspect_ratio,actor_3_name,actor_3_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_1_name,actor_1_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,avatar|future|marine|native|paraplegic,886204,3054.0,723.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000,English,7.9,760505847.0,...,Color,4834,237000000.0,1.78,Wes Studi,855.0,Joel David Moore,936.0,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,2007.0,goddess|marriage ceremony|marriage proposal|pi...,471220,1238.0,302.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0,English,7.1,309404152.0,...,Color,48350,300000000.0,2.35,Jack Davenport,1000.0,Orlando Bloom,5000.0,Johnny Depp,40000.0
Spectre,2015.0,bomb|espionage|sequel|spy|terrorist,275868,994.0,602.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000,English,6.8,200074175.0,...,Color,11700,245000000.0,2.35,Stephanie Sigman,161.0,Rory Kinnear,393.0,Christoph Waltz,11000.0
The Dark Knight Rises,2012.0,deception|imprisonment|lawlessness|police offi...,1144337,2701.0,813.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000,English,8.5,448130642.0,...,Color,106759,250000000.0,2.35,Joseph Gordon-Levitt,23000.0,Christian Bale,23000.0,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0,NaN,7.1,NaN,...,NaN,143,NaN,NaN,NaN,NaN,Rob Walker,12.0,Doug Walker,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,fraud|postal worker|prison|theft|trial,629,6.0,1.0,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84,English,7.7,NaN,...,Color,2283,NaN,NaN,Crystal Lowe,318.0,Daphne Zuniga,470.0,Eric Mabius,637.0
The Following,NaN,cult|fbi|hideout|prison escape|serial killer,73839,359.0,43.0,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000,English,7.5,NaN,...,Color,1753,NaN,16.00,Sam Underwood,319.0,Valorie Curry,593.0,Natalie Zea,841.0
A Plague So Pleasant,2013.0,NaN,38,3.0,13.0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16,English,6.3,NaN,...,Color,0,1400.0,NaN,David Chandler,0.0,Maxwell Moody,0.0,Eva Boehnke,0.0
Shanghai Calling,2012.0,NaN,1255,9.0,14.0,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660,English,6.3,10443.0,...,Color,2386,NaN,2.35,Eliza Coupe,489.0,Daniel Henney,719.0,Alan Ruck,946.0
My Date with Drew,2004.0,actress name in title|crush|date|four word tit...,4285,84.0,43.0,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456,English,6.6,85222.0,...,Color,163,1100.0,1.85,Jon Gunn,16.0,Brian Herzlinger,23.0,John August,86.0

In [11]:
# index 정렬 -> 부분일치 slicing 이 가능.  
# 정렬후 loc indexer를 사용하면 속도가 빠르다.
df.sort_index().loc['A':'B']  # A로 시작하는 영화 ~ B로 시작하는 영화 앞까지.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

In [14]:
# 감독이름기준 정렬
df.sort_values('director_name')
df.sort_values('director_name', ascending=False) #내림차순

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Heroes,Color,NaN,75.0,60.0,NaN,833.0,Masi Oka,1000.0,NaN,Drama|Fantasy|Sci-Fi|Thriller,...,379.0,English,USA,TV-14,NaN,NaN,923.0,7.7,16.00,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
Revolution,Color,NaN,23.0,43.0,NaN,576.0,Tracy Spiridakos,2000.0,NaN,Action|Adventure|Drama|Sci-Fi,...,323.0,English,USA,TV-14,NaN,NaN,821.0,6.7,16.00,17000
Happy Valley,Color,NaN,11.0,58.0,NaN,250.0,James Norton,887.0,NaN,Crime|Drama,...,59.0,English,UK,TV-MA,NaN,NaN,340.0,8.5,16.00,10000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000

In [18]:
# 상영시간 기준 정렬
df.sort_values('duration')[['duration', 'imdb_score']].head(30)
df.sort_values(['duration', 'imdb_score'])[['duration', 'imdb_score']].head(30)
# df.sort_values(['duration', 'imdb_score', 'dirctor_name'])
#                               : duration으로 전체를 정렬. duration이 같은 값들끼리는 imdb_score로 정렬
#                               : 정렬방식 - 셋다 오름차순(기본방식)

                                      duration  imdb_score
movie_title
The Touch                                  7.0         5.2
Shaun the Sheep                            7.0         8.3
Robot Chicken                             11.0         7.8
Vessel                                    14.0         6.2
Wal-Mart: The High Cost of Low Price      20.0         6.8
Sabrina, the Teenage Witch                22.0         6.6
Anger Management                          22.0         6.7
10,000 B.C.                               22.0         7.2
Rules of Engagement                       22.0         7.3
Strangers with Candy                      22.0         8.1
Home Movies                               22.0         8.2
It's Always Sunny in Philadelphia         22.0         8.8
Sonny with a Chance                       23.0         6.1
Star Wars: The Clone Wars                 23.0         7.9
Yu-Gi-Oh! Duel Monsters                   24.0         7.0
Lovesick                                  24.0         7.9
Bewitched                                 25.0         7.6
The Inbetweeners                          25.0         8.4
M*A*S*H                                   25.0         8.4
A Charlie Brown Christmas                 25.0         8.4
The Girlfriend Experience                 27.0         7.3
Entourage                                 28.0         8.5
Meet the Browns                           30.0         3.5
The Bold and the Beautiful                30.0         3.5
Jesse                                     30.0         5.9
Fired Up                                  30.0         6.7
Sex and the City                          30.0         7.0
The Powerpuff Girls                       30.0         7.2
The Doombolt Chase                        30.0         7.2
Wings                                     30.0         7.3

In [21]:
# ascending은 by의 컬럼 순서대로 지정한다. -> 내림차순이 하나라도 있으면 지정해 줘야 한다.
df.sort_values(['duration', 'imdb_score'], ascending=[False, True])[['duration', 'imdb_score']].head(40)
# duration: 내림차순(False), imdb_score: 오름차순(True)

                                 duration  imdb_score
movie_title
Trapped                             511.0         8.2
Carlos                              334.0         7.7
Blood In, Blood Out                 330.0         8.0
Heaven's Gate                       325.0         6.8
The Legend of Suriyothai            300.0         6.6
Das Boot                            293.0         8.4
Apocalypse Now                      289.0         8.5
The Company                         286.0         7.9
Gods and Generals                   280.0         6.3
Gettysburg                          271.0         7.7
Arn: The Knight Templar             270.0         6.6
Cleopatra                           251.0         7.0
Once Upon a Time in America         251.0         8.4
Gandhi                              240.0         8.1
The Wolf of Wall Street             240.0         8.2
Emma                                240.0         8.2
Dances with Wolves                  236.0         8.0
Lawrence of Arabia                  227.0         8.4
Gone with the Wind                  226.0         8.2
The Greatest Story Ever Told        225.0         6.6
All the Pretty Horses               220.0         5.8
The Godfather: Part II              220.0         9.0
The Last Emperor                    219.0         7.8
Gangs of New York                   216.0         7.5
The Thin Red Line                   215.0         7.6
Watchmen                            215.0         7.7
Woodstock                           215.0         8.1
Wyatt Earp                          212.0         6.6
Nixon                               212.0         7.1
Alexander                           206.0         5.5
JFK                                 206.0         8.0
Malcolm X                           202.0         7.7
Seven Samurai                       202.0         8.7
King Kong                           201.0         7.2
Doctor Zhivago                      200.0         8.0
Anne of Green Gables                199.0         8.4
Deadline Gallipoli                  197.0         7.4
It's a Mad, Mad, Mad, Mad World     197.0         7.6
Troy                                196.0         7.2
Iron Man 3                          195.0         7.2

In [23]:
# boolean indexing 후 결과 정렬  (dataframe을 처리후에 그 결과를 정렬)
result = df[df['duration'] > 250].sort_values('duration') # 조회결과를 정렬해서 result에 대입
result

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Cleopatra,Color,Joseph L. Mankiewicz,72.0,251.0,311.0,595.0,Richard Burton,940.0,57750000.0,Biography|Drama|History|Romance,...,192.0,English,UK,Approved,31115000.0,1963.0,726.0,7.0,2.20,0
Once Upon a Time in America,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,30000000.0,1984.0,683.0,8.4,1.85,12000
Arn: The Knight Templar,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,NaN,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,NaN,25000000.0,2007.0,690.0,6.6,2.35,0
Gettysburg,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
Gods and Generals,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
The Company,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
Apocalypse Now,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,Drama|War,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000
Das Boot,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [33]:
# df['director_name'].value_counts()[df['director_name'].value_counts() > 10]

In [29]:
# value_counts() 결과 정렬 => 값기준으로 내림차순 정렬해서 결과를 반환.
result = df['director_name'].value_counts()
result[result > 10].sort_index()  #감독 이름순으로 정렬
result[result > 10].sort_values()  #  오름차순으로 정렬

Rob Reiner              11
Richard Linklater       11
Francis Ford Coppola    11
Sam Raimi               11
Chris Columbus          11
Richard Donner          11
Shawn Levy              11
Tony Scott              12
Michael Bay             12
Kevin Smith             12
Brian De Palma          12
Ron Howard              13
Robert Rodriguez        13
Robert Zemeckis         13
Barry Levinson          13
Joel Schumacher         13
Tim Burton              14
Oliver Stone            14
Renny Harlin            15
Steven Soderbergh       15
Spike Lee               16
Ridley Scott            16
Clint Eastwood          20
Martin Scorsese         20
Woody Allen             22
Steven Spielberg        26
Name: director_name, dtype: int64

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [34]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')
flights.shape

(58492, 14)

In [35]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [36]:
flights.tail()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [37]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [38]:
# 결측치 개수 확인
flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [40]:
flights['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [42]:
flights['WEEKDAY'].value_counts().sort_index()

1    8720
2    8535
3    8706
4    8659
5    8453
6    7052
7    8367
Name: WEEKDAY, dtype: int64

In [44]:
flights['WEEKDAY'].unique()
flights['AIRLINE'].unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [45]:
flights['AIRLINE'].nunique()

14

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|
|**idxmin()**|최소값 index|
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - 결측치(NA)를 포함해서 계산할지 여부 설정.
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

In [47]:
flights.max()

MONTH            12
DAY              31
WEEKDAY           7
AIRLINE          WN
ORG_AIR         SFO
DEST_AIR        YUM
SCHED_DEP      2359
DEP_DELAY    1194.0
AIR_TIME      577.0
DIST           4502
SCHED_ARR      2359
ARR_DELAY    1185.0
DIVERTED          1
CANCELLED         1
dtype: object

In [52]:
flights.mean(numeric_only=True)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [57]:
flights.select_dtypes(exclude='object').idxmax()

MONTH        53361
DAY           4886
WEEKDAY        489
SCHED_DEP      127
DEP_DELAY    58188
AIR_TIME     57423
DIST          2082
SCHED_ARR      120
ARR_DELAY    58188
DIVERTED       580
CANCELLED       24
dtype: int64

In [61]:
import numpy as np
# np.argmax(flights) #결측치
np.argmax(flights.AIRLINE)

0

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [63]:
# 도착 지연시간(ARR_DELAY): 최소값, 최대값
flights['ARR_DELAY'].min(), flights['ARR_DELAY'].max()

(-60.0, 1185.0)

In [64]:
flights['ARR_DELAY'].aggregate(["min", "max"])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [65]:
flights['ARR_DELAY'].agg(["min", "max"])

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [70]:
flights['ARR_DELAY'].agg('mean', skipna=False)

nan

In [68]:
flights['ARR_DELAY'].mean(skipna=False)

nan

In [72]:
flights['ARR_DELAY'].agg(['min', 'max', 'mean', 'std'], skipna=False) 
# 집계(통계량구하는)함수가 여러개일 경우 argument는 전달되지 않는다.

min      -60.000000
max     1185.000000
mean       5.812315
std       38.411948
Name: ARR_DELAY, dtype: float64

In [75]:
# 컬럼별로 다른 통계량을 계산 -> {컬럼:통계함수}
flights.agg({
    "DEP_DELAY":"sum", 
    "ARR_DELAY":['mean', 'std'], 
    #"AIRLINE":'mode'
})

      DEP_DELAY  ARR_DELAY
sum    629705.0        NaN
mean        NaN   5.812315
std         NaN  38.411948

In [78]:
flights[['DEP_DELAY', 'ARR_DELAY']].mean()

DEP_DELAY    10.921192
ARR_DELAY     5.812315
dtype: float64

In [79]:
# DataFrame에 적용
flights[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', 'std'])

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [80]:
flights.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [84]:
flights.select_dtypes(exclude='object').agg(['count', 'mean', 'std', 'min', 'max']).T

             count         mean         std   min     max
MONTH      58492.0     6.220646    3.358484   1.0    12.0
DAY        58492.0    15.702096    8.760846   1.0    31.0
WEEKDAY    58492.0     3.926862    1.995777   1.0     7.0
SCHED_DEP  58492.0  1387.984836  482.810792   5.0  2359.0
DEP_DELAY  57659.0    10.921192   36.146210 -24.0  1194.0
AIR_TIME   57474.0   115.928576   71.679591   8.0   577.0
DIST       58492.0   872.900072  624.996805  67.0  4502.0
SCHED_ARR  58492.0  1549.399832  518.599952   1.0  2359.0
ARR_DELAY  57474.0     5.812315   38.411948 -60.0  1185.0
DIVERTED   58492.0     0.002342    0.048340   0.0     1.0
CANCELLED  58492.0     0.015062    0.121800   0.0     1.0

# Groupby
- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# TODO

In [ ]:
# 1. data/diamonds.csv 를 읽어 DataFrame 생성

# 2. 1에서 생성한 DataFrame의 정보 조회
#     - 배열의 shape조회
#     - DataFrame에 대한 정보조회
#     - 상/하위 5개 행 조회
#     - 결측치 확인

# 3. carat, price, depth의 합계, 평균, 최대, 최소 조회

# 4. price는 최대, 최소, color는 고유값의 개수를 조회

# 5. cut의 고유값별 개수를 조회

# 6. cut별 가격 평균 조회

# 7. cut별 가격 평균중 4000이상만 조회

# 8. clarity별 carat 평균과 표준편차 조회

# 9. cut과 color 별로 가격은 평균을 carat은 최대값을 조회 

# 10. 9번 문제의 결과에서 가격의 평균이 5000이상이고 carat의 최대값이 3이상인 결과만 조회